.loader{
    height: 100%;
    width: 100%;
    background-color: #7590C7;
    position: fixed;
    z-index: 1000;  
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 10s ease infinite;

}

.loadCenter {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }


@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 575.98px) { 
  #triangle{
    width: 200px !important;
    height: 200px !important;
  }
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
  #triangle{
    width: 300px !important;
    height: 300px !important;
  }
  
 }

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) and (max-width: 991.98px) { ... }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
  #triangle{
    width: 350px !important;
    height: 350px !important;
  }
 } 


/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  #triangle{
    width: 400px !important;
    height: 400px !important;
  }
 }

