.loader{
    height: 100%;
    width: 100%;
    background-color: #7590C7;
    position: absolute sticky;
    z-index: 1000;  

}

.loadCenter {

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }